<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <!-- Shown in the webpage tab. Contains keywords for SEO, search engine
      optimization. -->
    </title>
  </head>
  <body>
    <header>
      <!-- Sits at the top of each page. 
            Typically contains a group of introductory or navigational aids.
            Provides a place for the company's logo, a search form, author name, tagline and other elements.
        -->
    </header>
    <nav>
      <!-- Commonly placed before the main content of the page .
            Typically contains main navigation links either within the current document or to other documents.
        -->
    </nav>
    <main>
      <!-- This section appears just after the main navigation on the page.
            And it represents the dominat content of the <body> of the document.
            It consists of content that is directly related to or expands upon the central topic of the 
            document, or the central functionality of an application.
        -->
    </main>
    <footer>
      <!-- Typically found at the bottom of almost every web page in the body.
           Commonly contains information about the author of the section, legal notice and links to related documents.
        -->
    </footer>
  </body>
</html>
